@import "./form/form.css";
@import "./boxtotallikes/box.css";
@import "./lightbox/lightbox.css";
@import "./dropdown/dropdown.css";

#contact_modal {
    display: none;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

#form-dialog {
    border: none;
    border-radius: .3rem;
    display: none;
    left: 50%;
    max-width: 42rem;
    min-width: 18.75rem;
    position: absolute;
    right: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 100%;
    z-index: 11;
}


form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}
.ph-city {
    color: #901c1c;
    font-size: 15px;
    margin: 0;
}

.ph-infos h2 {
    color: #D3573C;
    font-size: 32px;
    font-weight: 400;
    margin: 0;
}

.ph-profil {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.ph-profil button {
    background: #901c1c;
    border: none;
    border-radius: 5px;
    bottom: 28px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    height: 35px;
    width: 170px;
}

.ph-profil button:hover {
    background: #651414;
    transform: scale(1.05);
}

.ph-profil img {
    border-radius: 50%;
    height: 150px;
    object-fit: cover;
    width: 150px;
}

#ph-profil-header {
    width: 90%;
    margin: 100px auto 50px auto;
}

.ph-tagline {
    color: #525252;
    font-size: 15px;
    margin: 0;
}

.ph-tags {
    border: .5px solid #C4C4C4;
    border-radius: 15%;
    color: #901C1C;
    font-size: 12px;
    margin: 0;
    padding: .0625rem .375rem;
    text-decoration: none;
    transition: all .2s;
}

.ph-tags:hover {
    background-color: #901C1C;
    color: #fff;
}

#ph-works {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 32px 0 60px 0;
    padding: 0 20px;
}

.btn-like {
    background: none;
    border: none;
    color: #901c1c;
    font-size: 17px;
    margin-left: -.8px;
}

.ph-work-elt {
    color: #901c1c;
    font-size: 17px;
    font-weight: 500;
    margin: 0 0 8px;
    width: 335px;
}

.ph-work-elt .fa-heart:hover,
.ph-work-elt img:hover,
.ph-work-elt video:hover {
    cursor: pointer;
}

.ph-work-elt .ph-work-title {
    width: 14.0625rem;
}

.ph-work-elt img,
.ph-work-elt video {
    border-radius: .3125rem;
    height: 11.875rem;
    object-fit: cover;
    width: 20.9375rem;
}

.ph-work-elt-text {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 0;
}

.ph-work-title {
    font-size: 1em;
    font-weight: 400;
}