@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}

#banner img {
    height: 38px;
    width: 250px;
    margin-left: 40px;
    margin-top: 20px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

#photographers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}

#photographers article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#photographers article a {
    text-decoration: none;
    text-align: center;
}

#photographers article h2 {
    color: #D3573C;
    font-size: 36px;
    text-align: center;
}

#photographers article img {
    height: 250px;
    width: 250px;
    border-radius: 50%; /* AFIN D'ARRONDIR LES IMAGES DE LA PAGES D'ACCUEIL */
}